<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-1.12.3.js" integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

    <title>MyApp</title>

</head>

<body>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/myApp/public/stylesheets/style.css">
    <div class="container">
        <span class="headPage">
            <h1 class="title">MyApp</h1>
            <p class="wlc">Welcome to MyApp</p>

            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="lien1">Link1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="lien2">Link2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="lien3">Link3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="addtxt">add</a>
                    </li>
                </ul>
            </nav>
        </span>
        <hr align=center size=8 width="50%">
        <p>

            {{{body}}}

    </div>


</body>

</html>
